<body class="items-center content-center ml-14 flex justify-center">
<div class="text-center text-amber-800">
  <h1>TOP 10 FILMS</h1>
  @for (results of title(); track results) {
    <ul role="list" class="divide-y divide-gray-200 mt-16">
      <li class="py-4">
        <div class="wrapper glyphicons_v2 picture grey no_image_holder">
          <a class="image" href="/movie/{{results.id}}" title="{{results.title}}">
            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/{{results.poster_path}}" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/{{results.poster_path}} 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/{{results.poster_path}} 2x" alt="{{results.title}}">
          </a>
        </div>
        {{ results.title}}
        <div>
          <p>Рейтинг: {{results.vote_average}}/10</p>
        </div>
      </li>
    </ul>
    <button (click)="addFavorit(results.id)">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
            class="{{favoritFound()}}"
            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
    </svg>
    </button>
  }
</div>
</body>

