<body class="items-center content-center ml-14 flex justify-center">
<div class="text-center text-amber-800">
<h1>TOP 10 FILMS</h1>
    <div class="media_items results flex items-center">
        <div id="page_1" class="page_wrapper">
            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="https://www.themoviedb.org/movie/278-the-shawshank-redemption" title="Побег из Шоушенка">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/yvmKPlTIi0xdcFQIFcQKQJcI63W.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/yvmKPlTIi0xdcFQIFcQKQJcI63W.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/yvmKPlTIi0xdcFQIFcQKQJcI63W.jpg 2x" alt="Побег из Шоушенка">

                        </a>
                    </div>
                    <div class="options" data-id="278" data-object-id="4bc88d49017a3c122d005189" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88d49017a3c122d005189" data-percent="87.04" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r87"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="https://www.themoviedb.org/movie/278-the-shawshank-redemption" title="Побег из Шоушенка">Побег из Шоушенка</a></h2>
                    <p>23 сен 1994</p>
                </div>

                <div class="hover 278"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/238" title="Крёстный отец">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/gZUc6DbAirZGWJL1685jsOd90Sf.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/gZUc6DbAirZGWJL1685jsOd90Sf.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/gZUc6DbAirZGWJL1685jsOd90Sf.jpg 2x" alt="Крёстный отец">

                        </a>
                    </div>
                    <div class="options" data-id="238" data-object-id="4bc88cd2017a3c122d0044c7" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88cd2017a3c122d0044c7" data-percent="86.95" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r87"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/238" title="Крёстный отец">Крёстный отец</a></h2>
                    <p>14 мар 1972</p>
                </div>

                <div class="hover 238"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/240" title="Крёстный отец 2">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/jDaC944dvUc1a4M1vp0oSW1XDak.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/jDaC944dvUc1a4M1vp0oSW1XDak.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/jDaC944dvUc1a4M1vp0oSW1XDak.jpg 2x" alt="Крёстный отец 2">

                        </a>
                    </div>
                    <div class="options" data-id="240" data-object-id="4bc88cda017a3c122d00457f" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88cda017a3c122d00457f" data-percent="85.75" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r86"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/240" title="Крёстный отец 2">Крёстный отец 2</a></h2>
                    <p>20 дек 1974</p>
                </div>

                <div class="hover 240"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/424" title="Список Шиндлера">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/4K8fGGcJP2EoGDucILnaJcOJhZl.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/4K8fGGcJP2EoGDucILnaJcOJhZl.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/4K8fGGcJP2EoGDucILnaJcOJhZl.jpg 2x" alt="Список Шиндлера">

                        </a>
                    </div>
                    <div class="options" data-id="424" data-object-id="4bc88e86017a3c122d0073cd" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88e86017a3c122d0073cd" data-percent="85.64999999999999" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r86"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/424" title="Список Шиндлера">Список Шиндлера</a></h2>
                    <p>15 дек 1993</p>
                </div>

                <div class="hover 424"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/129" title="Унесённые призраками">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/xV3zYcOA6xFjYwizIMDDkl2MGT7.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/xV3zYcOA6xFjYwizIMDDkl2MGT7.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/xV3zYcOA6xFjYwizIMDDkl2MGT7.jpg 2x" alt="Унесённые призраками">

                        </a>
                    </div>
                    <div class="options" data-id="129" data-object-id="4bc88bcc017a3c122d0024c9" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88bcc017a3c122d0024c9" data-percent="85.39999999999999" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/129" title="Унесённые призраками">Унесённые призраками</a></h2>
                    <p>20 июл 2001</p>
                </div>

                <div class="hover 129"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/389" title="12 разгневанных мужчин">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/uDFEvhvKrH61KuGWWozRtbw2Rjv.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/uDFEvhvKrH61KuGWWozRtbw2Rjv.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/uDFEvhvKrH61KuGWWozRtbw2Rjv.jpg 2x" alt="12 разгневанных мужчин">

                        </a>
                    </div>
                    <div class="options" data-id="389" data-object-id="4bc88e2c017a3c122d006a0f" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88e2c017a3c122d006a0f" data-percent="85.39999999999999" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/389" title="12 разгневанных мужчин">12 разгневанных мужчин</a></h2>
                    <p>10 апр 1957</p>
                </div>

                <div class="hover 389"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/19404" title="Непохищенная невеста">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/sctBFkLHYYqaHHNJj7r1jSOkfB9.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/sctBFkLHYYqaHHNJj7r1jSOkfB9.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/sctBFkLHYYqaHHNJj7r1jSOkfB9.jpg 2x" alt="Непохищенная невеста">

                        </a>
                    </div>
                    <div class="options" data-id="19404" data-object-id="4bc8c020017a3c122d07a2a7" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc8c020017a3c122d07a2a7" data-percent="85.33" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/19404" title="Непохищенная невеста">Непохищенная невеста</a></h2>
                    <p>20 окт 1995</p>
                </div>

                <div class="hover 19404"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/155" title="Тёмный рыцарь">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/dxWaYQtgpLbycqUpHzkqqYkT5I3.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/dxWaYQtgpLbycqUpHzkqqYkT5I3.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/dxWaYQtgpLbycqUpHzkqqYkT5I3.jpg 2x" alt="Тёмный рыцарь">

                        </a>
                    </div>
                    <div class="options" data-id="155" data-object-id="4bc88c0c017a3c122d002cc1" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88c0c017a3c122d002cc1" data-percent="85.15" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/155" title="Тёмный рыцарь">Тёмный рыцарь</a></h2>
                    <p>16 июл 2008</p>
                </div>

                <div class="hover 155"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/496243" title="Паразиты">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/zg3lUyLTnpbS5N29G6B3a63O7uP.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/zg3lUyLTnpbS5N29G6B3a63O7uP.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/zg3lUyLTnpbS5N29G6B3a63O7uP.jpg 2x" alt="Паразиты">

                        </a>
                    </div>
                    <div class="options" data-id="496243" data-object-id="5a4db2bd0e0a26481d0042b8" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 5a4db2bd0e0a26481d0042b8" data-percent="85.10999999999999" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/496243" title="Паразиты">Паразиты</a></h2>
                    <p>30 май 2019</p>
                </div>

                <div class="hover 496243"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/497" title="Зелёная миля">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/8bYlpXaF1VgPTA4JRYZGRxmXU45.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/8bYlpXaF1VgPTA4JRYZGRxmXU45.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/8bYlpXaF1VgPTA4JRYZGRxmXU45.jpg 2x" alt="Зелёная миля">

                        </a>
                    </div>
                    <div class="options" data-id="497" data-object-id="4bc88f42017a3c122d00864d" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88f42017a3c122d00864d" data-percent="85.07" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/497" title="Зелёная миля">Зелёная миля</a></h2>
                    <p>10 дек 1999</p>
                </div>

                <div class="hover 497"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/372058" title="Твоё имя">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/iUQlwEFo90cUHD3MINhbhz3V8cR.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/iUQlwEFo90cUHD3MINhbhz3V8cR.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/iUQlwEFo90cUHD3MINhbhz3V8cR.jpg 2x" alt="Твоё имя">

                        </a>
                    </div>
                    <div class="options" data-id="372058" data-object-id="566a7a11925141664f003cb2" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 566a7a11925141664f003cb2" data-percent="84.97" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/372058" title="Твоё имя">Твоё имя</a></h2>
                    <p>26 авг 2016</p>
                </div>

                <div class="hover 372058"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/680" title="Криминальное чтиво">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/7FaHjGa4RvKJZHzY7c9UgTTH9KN.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/7FaHjGa4RvKJZHzY7c9UgTTH9KN.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/7FaHjGa4RvKJZHzY7c9UgTTH9KN.jpg 2x" alt="Криминальное чтиво">

                        </a>
                    </div>
                    <div class="options" data-id="680" data-object-id="4bc89180017a3c122d00c606" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc89180017a3c122d00c606" data-percent="85.0" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/680" title="Криминальное чтиво">Криминальное чтиво</a></h2>
                    <p>10 сен 1994</p>
                </div>

                <div class="hover 680"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/122" title="Властелин колец: Возвращение короля">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/60q19ii6RRIWHzVREeLtXUEM42B.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/60q19ii6RRIWHzVREeLtXUEM42B.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/60q19ii6RRIWHzVREeLtXUEM42B.jpg 2x" alt="Властелин колец: Возвращение короля">

                        </a>
                    </div>
                    <div class="options" data-id="122" data-object-id="4bc88bbb017a3c122d002303" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88bbb017a3c122d002303" data-percent="84.77000000000001" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/122" title="Властелин колец: Возвращение короля">Властелин колец: Возвращение короля</a></h2>
                    <p>01 дек 2003</p>
                </div>

                <div class="hover 122"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/13" title="Форрест Гамп">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/oTiRsQCIHJPUR7wA1chpTf8j9go.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/oTiRsQCIHJPUR7wA1chpTf8j9go.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/oTiRsQCIHJPUR7wA1chpTf8j9go.jpg 2x" alt="Форрест Гамп">

                        </a>
                    </div>
                    <div class="options" data-id="13" data-object-id="4bc88acf017a3c122d0004c9" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88acf017a3c122d0004c9" data-percent="84.77000000000001" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/13" title="Форрест Гамп">Форрест Гамп</a></h2>
                    <p>23 июн 1994</p>
                </div>

                <div class="hover 13"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/664280" title="Дэвид Аттенборо: Жизнь на нашей планете">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/zSKwyUDKDHiFU5syTTvQRDcGBPS.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/zSKwyUDKDHiFU5syTTvQRDcGBPS.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/zSKwyUDKDHiFU5syTTvQRDcGBPS.jpg 2x" alt="Дэвид Аттенборо: Жизнь на нашей планете">

                        </a>
                    </div>
                    <div class="options" data-id="664280" data-object-id="5e200e30e004a60015985cdd" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 5e200e30e004a60015985cdd" data-percent="85.0" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/664280" title="Дэвид Аттенборо: Жизнь на нашей планете">Дэвид Аттенборо: Жизнь на нашей планете</a></h2>
                    <p>28 сен 2020</p>
                </div>

                <div class="hover 664280"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/769" title="Славные парни">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/U8NIEbRRPiD32j0rTlvMrQsIXJ.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/U8NIEbRRPiD32j0rTlvMrQsIXJ.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/U8NIEbRRPiD32j0rTlvMrQsIXJ.jpg 2x" alt="Славные парни">

                        </a>
                    </div>
                    <div class="options" data-id="769" data-object-id="4bc89240017a3c122d00db42" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc89240017a3c122d00db42" data-percent="84.68" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/769" title="Славные парни">Славные парни</a></h2>
                    <p>12 сен 1990</p>
                </div>

                <div class="hover 769"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/429" title="Хороший, плохой, злой">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/fGDK72duT0YbdORyNo1QVuzDYzE.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/fGDK72duT0YbdORyNo1QVuzDYzE.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/fGDK72duT0YbdORyNo1QVuzDYzE.jpg 2x" alt="Хороший, плохой, злой">

                        </a>
                    </div>
                    <div class="options" data-id="429" data-object-id="4bc88e9e017a3c122d007595" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc88e9e017a3c122d007595" data-percent="84.66" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/429" title="Хороший, плохой, злой">Хороший, плохой, злой</a></h2>
                    <p>22 дек 1966</p>
                </div>

                <div class="hover 429"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/12477" title="Могила светлячков">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/eyj6YfEqmMeCEkmBLtQjncq4YNW.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/eyj6YfEqmMeCEkmBLtQjncq4YNW.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/eyj6YfEqmMeCEkmBLtQjncq4YNW.jpg 2x" alt="Могила светлячков">

                        </a>
                    </div>
                    <div class="options" data-id="12477" data-object-id="4bc8b572017a3c122d06086c" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc8b572017a3c122d06086c" data-percent="84.63" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/12477" title="Могила светлячков">Могила светлячков</a></h2>
                    <p>16 апр 1988</p>
                </div>

                <div class="hover 12477"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/11216" title="Новый кинотеатр «Парадизо»">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg 2x" alt="Новый кинотеатр «Парадизо»">

                        </a>
                    </div>
                    <div class="options" data-id="11216" data-object-id="4bc8b100017a3c122d058167" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc8b100017a3c122d058167" data-percent="84.55" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/11216" title="Новый кинотеатр «Парадизо»">Новый кинотеатр «Парадизо»</a></h2>
                    <p>17 ноя 1988</p>
                </div>

                <div class="hover 11216"></div>
            </div>

            <div class="card style_1">
                <div class="image">
                    <div class="wrapper glyphicons_v2 picture grey no_image_holder">
                        <a class="image" href="/movie/637" title="Жизнь прекрасна">
                            <img loading="lazy" class="poster w-[100%]" src="https://media.themoviedb.org/t/p/w220_and_h330_face/4CfBbnmjyXANupnKmC0OimKhiQI.jpg" srcset="https://media.themoviedb.org/t/p/w220_and_h330_face/4CfBbnmjyXANupnKmC0OimKhiQI.jpg 1x, https://media.themoviedb.org/t/p/w440_and_h660_face/4CfBbnmjyXANupnKmC0OimKhiQI.jpg 2x" alt="Жизнь прекрасна">

                        </a>
                    </div>
                    <div class="options" data-id="637" data-object-id="4bc890e1017a3c122d00b419" data-media-type="movie" data-role="tooltip">
                        <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
                    </div>
                </div>
                <div class="content">
                    <div class="consensus tight">
                        <div class="outer_ring">
                            <div class="user_score_chart 4bc890e1017a3c122d00b419" data-percent="84.52" data-track-color="#204529" data-bar-color="#21d07a">
                                <div class="percent">
                                    <span class="icon icon-r85"></span>
                                </div>
                                <canvas height="34" width="34"></canvas></div>
                        </div>
                    </div>

                    <h2><a href="/movie/637" title="Жизнь прекрасна">Жизнь прекрасна</a></h2>
                    <p>20 дек 1997</p>
                </div>

                <div class="hover 637"></div>
            </div>


            <div class="card style_1 page_1_filler filler"></div>
            <div class="card style_1 page_1_filler filler"></div>
            <div class="card style_1 page_1_filler filler"></div>

            <div id="pagination_page_1" data-next-page="2" data-current-page="1" class="pagination infinite background_color light_blue">
                <div class="loading_wrapper hide">
                    <div class="ball-scale-multiple loader">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <p class="load_more"><a class="no_click load_more" data-next-page="2" data-current-page="1" href="/movie/top-rated?page=2">Загрузить ещё</a></p>
            </div>
        </div>

        <script>
            $(function () {
                $('.user_score_chart').each(function (i) {
                    var item = $(this);
                    item.easyPieChart({
                        lineCap: parseFloat(item.data("percent")) == 0.0 ? "butt" : "round",
                        lineWidth: 2,
                        scaleColor: false,
                        size: 34,
                        animate: {
                            enabled: false
                        }
                    });
                });
            });
        </script>

    </div>
</div>
</body>
